footer
    div.container

//  Swipe Slider
script(src='js/swiper.min.js', type='text/javascript')
//  Particles Js
script(src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js")
// GreenSock
script(src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js")
// Scroll Magic
// script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js")
// script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js")
// script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js")
// AOS
script(src="https://unpkg.com/aos@next/dist/aos.js")
script(src='js/scripts.min.js', type='text/javascript')