div.subscribe-row
    h4.subscribe-row__title(data-aos="fade-up", data-aos-offset="200", data-aos-duration="750", data-aos-delay="200") Subscribe
    div.subscribe-row__content
        div.subscribe-row__subscribe(data-aos="fade-up", data-aos-offset="200", data-aos-duration="750", data-aos-delay="200")
            button.subscribe-row__btn#subscribe-btn(data-target='modal') Subscribe
        div.subscribe-row__platform(data-aos="fade-up", data-aos-offset="200", data-aos-duration="750")
            img.subscribe-row__platform_img(src='img/stock-photo-positive-fashion-portrait-of-two-girls-best-friends-posing-indoor-on-bright-pink-background-507233725@1X.png')
            p.subscribe-row__info-paragraph The blockchain-based <br> platform